*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #6f361c;
    overflow-x: hidden;
}

#seta{
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    padding: 10px;
    background-color: #3d2013;
    opacity: 0.4;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
    
#seta:hover{
    background-color: #3d2013;
    opacity:unset;
    color: white;
}

::-webkit-scrollbar{
    background-color: #2d1409;
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color:#ffbd59;
    border-radius: 5px;
}

/* HEADER */

header{
    display: flex;
    background-color: #84472a;
}

#area_interativa{
    width: 100%;
}

#area_interativa img{
    width: 150px;
    margin: 20px;
}

#area_interativa h1{
    width: 700px;
    color: white;
    margin-left:  100px;
    margin-top: 80px;
    font-size: 125px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
}

#area_interativa h2{
    color: #ffbd59;
    margin-left: 100px;
    margin-top: 30px;
}

#area_interativa button{
    background-color: #b08259;
    margin-left: 100px;
    margin-top: 90px;
    font-size: 30px;
    padding: 25px;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#imagem_principal img{
    height: 930px;
}

/* SOBRE NÓS */

#texto_sobre{
    color: white;
    font-size: 60px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
}

main{
    margin-top: 50px;
}

#sobre_nos{
    margin-bottom: 50px;
}

#sobre_nos h1{
    margin-top: 50px;
    text-align: center;
    color:#ffbd59;
    font-size:60px;
    margin-bottom: 50px;
    font-style: italic;
}

/* CARDÁPIO */

#cardapio{
    text-align: center;
    background-color: #84472a;
}

#cardapio h1{
    margin-top: 50px;
    text-align: center;
    color:#ffbd59;
    font-size:60px;
    margin-bottom: 50px;
    font-style: italic;
}

#cardapio img{
    width: 1200px;
    margin: auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    margin-bottom: 60px;
    visibility: hidden;
    border:  2px solid #b08259;
}


/* FORMULÁRIO */

form{
    margin-top: 70px;
    text-align: center;
}

form h1{
    margin-top: 30px;
    font-size: 60px;
    text-align: center;
    color: #ffbd59;
    font-style: italic;
}

form input{
    background: transparent;
    border: none;
    border-bottom: 3px solid #ffbd5984;
    margin: 50px auto;
    display: flex;
    width: 800px;
    font-size: 25px;
    margin-top: 90px;
    margin-bottom: 70px;
    color: white;
    outline: none;
}

::placeholder{
    color: white;
    font-weight: bold;
}

form button{
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: #b08259;
    color: white;
    cursor: pointer;
    margin-bottom: 80px;
}

/* RODAPÉ */

footer{
    background-color: #2d140988;
    color: white;
    text-align: center;
}

#imagens_footer img{
    width: 40px;   
    margin: 50px;
}

footer p{
    font-style: italic;
}


/* RESPONSIVIDADE HEADER */

@media(max-width: 1600px){
   
    #imagem_principal img{
        height: 850px;
        width: 700px;
    }
}

@media(max-width: 1450px){

    #imagem_principal img{
        height: 850px;
        width: 700px;
    }

    #area_interativa img{
        width: 140px;
    }

    #area_interativa h1{
        font-size: 100px;
        margin-left: 50px;
        width: 600px;
    }

    #area_interativa h2{
        font-size: 20px;
        margin-left: 50px;
    }

    #area_interativa button{
        font-size: 25px;
        padding: 20px;
        margin-left: 50px;
    } 
}

@media(max-width: 1250px){

    #imagem_principal img{
        height: 750px;
        width: 600px;
    }

    #area_interativa h1{
        font-size: 80px;
        width: 500px;
    }

    #area_interativa h2{
        font-size: 17px;  
    }

    #area_interativa button{
        font-size: 20px;
        padding: 15px;
    } 

    #area_interativa img{
        width: 120px;
    }
}


@media(max-width: 1050px){

    #imagem_principal img{
        display: none;
    }

    #area_interativa{
        text-align: center;
    }

    #area_interativa h1{
        margin-top: 0;
        width: 100%;
        margin-left: 0;
        font-size: 110px;
    }

    #area_interativa h2{
        margin-left: 0;
        font-size: 20px;
    }

    #area_interativa button{
        margin-right: 0;
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media(max-width: 900px){
    #area_interativa h1{
        font-size: 80px;
    }

    #area_interativa img{
        width: 100px;
    }
}

@media(max-width: 480px){
    #area_interativa h1{
        font-size: 68px;
        margin-top: 140px; 
    }

    #area_interativa h2{
        font-size: 18px;
        margin-right: 40px;
    }

    #area_interativa img{
        width: 85px;
        float: left;
    }

    #area_interativa button{
        float: left;
        margin-left:35px;
        font-size: 18px;
    }
}

@media(max-width: 385px){
    #area_interativa h1{  
        font-size: 68px;
        margin-top: 140px;
    }

    #area_interativa h2{
        font-size: 18px;
        margin-right: 40px;
    }

    #area_interativa img{
        width: 85px;
        float: left;
    }

    #area_interativa button{
        float: left;
        margin-left:20px;
        font-size: 18px;
    }
}


/* RESPONSIVIDADE SOBRE NÓS */

@media(max-width: 1250px){
    #sobre_nos h1{
        font-size:  45px;
    }

    #texto_sobre{
        font-size: 40px;
    }
}

@media(max-width: 1000px){

    #sobre_nos h1{
        font-size:  35px;
        margin-bottom: 20px;
    }

    #texto_sobre{
        font-size: 30px;
    }
}

@media(max-width: 480px){
    #sobre_nos h1{
        font-size:  30px;
        margin-bottom: 20px;
    }

    #texto_sobre{
        font-size: 22px;
        width: 90%;
    }
}

/* RESPONSIVIDADE CARDÁPIO */

@media(max-width: 1250px){
    #cardapio h1{
        font-size: 45px;
    }

    #cardapio img{
        width: 1000px;
    }
}

@media(max-width: 1100px){
    
    #cardapio img{
        width: 800px;
    }
}

@media(max-width: 1000px){
    #cardapio h1{
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media(max-width: 900px){
    #cardapio img{
        width: 700px;
    }
}

@media(max-width: 750px){
    #cardapio img{
        width: 500px;
    }
}

@media(max-width: 600px){
    #cardapio img{
        width: 400px;
    }
}
@media(max-width: 480px){
    #cardapio img{
         width: 330px;
         margin-bottom: 30px;
    }
}


/* RESPONSIVIDADE FORMULÁRIO */


@media(max-width: 1250px){
    form h1{
        font-size: 45px; 
    }

    form input{
        width: 600px;
        font-size: 20px;
    }

    form button{
        font-size: 18px;
    }
  }


@media(max-width: 1000px){
    form h1{
        font-size: 35px;
    }

    form input{
        width: 450px;
        font-size: 15px;
    }

    form button{
        font-size: 15px;
    }
}

@media(max-width: 480px){

    form{
        margin-top: 30px;
    }

    form h1{
        font-size: 25px;
        margin-top: 10px;
    }

    form input{
        width: 300px;
        font-size: 13px;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    form button{
        font-size: 13px;
        padding: 13px;
        margin-bottom: 50px;  
    }
}
    
    /* RESPONSIVIDADE FOOTER */

    @media(max-width: 1000px){
       
        #imagens_footer img{
            width: 30px;
        }
    }

    @media(max-width: 800px){
       
        #imagens_footer img{
            width: 25px;
            margin: 30px;
        }

        footer p{
            font-size: 13px;
        }
    }

    @media(max-width: 480px){
       
        #imagens_footer img{
            width: 20px;
            margin: 24px;
        }
    }
    